/*MODIF VICTOR*/

.recherche table{float:none;}
.recherche h2{font-size: 1.350em; margin:10px; text-align: center;}
.titre{background: url(/img/bgRedBtn.png);}
.aller{border: 1px solid black;}
.retour{border: 1px solid black;}
.vol{border: 1px solid black; width: 150px;}