@CHARSET "UTF-8";

body
{
	color:#000;
	width:100%;
	height:100%;
}

#connexion{
	height: 370px;
	width: 390px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px #1f1f1f;
	background: #83C8FF;
	text-align: center;
	color:#fff;
	font-family: "arial",sans-serif;
	position: absolute;
	top:150px;
	left: 50%;
	margin-left: -195px;
	opacity: .7;
	font-size: 1.450em;
}

.identifiant,
.mdp{
	text-align: left;
	margin:0px auto;
	width:290px;
	margin-top:20px;
	opacity: 1;
}

input[type="text"],
input[type="password"]{
	width:275px;
	height: 45px;
}

input[type="submit"]{
	width:170px;
	height: 40;
	font-size: 1.050em;
	margin-top: 20px;
}
