@CHARSET "UTF-8";

body
{
	color:#000;
	width:100%;
	height:100%;
}

#connexion{
	height: 370px;
	width: 390px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px #1f1f1f;
	background: cyan;
	text-align: center;
	color:#fff;
	font-family: "arial",sans-serif;
	border: 1px solid black;
	position: absolute;
	top:150px;
	left: 50%;
	margin-left: -195px;
}

.identifiant,
.mdp{
	text-align: left;
	margin:0px auto;
	border: 1px solid black;
	width:290px;
	margin-top:40px;
}

input[type="text"],
input[type="password"]{
	width:275px;
	height: 45px;
}
