/*
css reset

    Home
    CSS Tutorials
    Free Weekly Training

2012’s most popular CSS Reset scripts, all in one place
Click ‘Get Code’ to copy/paste the full or minified version, or check out the documentation.

    Eric Meyer’s “Reset CSS” 2.0 Documentation Get Code (29,198)
    HTML5 Doctor CSS Reset Documentation Get Code (23,659)
    Yahoo! (YUI 3) Reset CSS Documentation Get Code (10,923)
    Universal Selector ‘*’ Reset Documentation Get Code (7,175)
    Normalize.css 1.0 Documentation Get Code (3,054)

What is a CSS Reset?  •  Which CSS Reset Should I Use?
Free Weekly CSS Training
Video Tutorials

The best hand-picked CSS videos & tutorials every Tuesday!

Unsubscribe any time. No spam.
Latest CSS Tutorials:
CSS Automatic Numbering Tutorial Counter For HTML Elements
posted August 29, 2012  –  by Chris  –  tagged css, CSS functions, css3, html, intermediate, lists, numbering	
CSS Automated Numbering Tutorial	

This CSS tutorial will show you everything you need to know to create your own automated numbering shortcut that can be used for any kind of HTML elements.

[...]

Watch Video
Using CSS Pseudo-Classes to Style Your Links
posted August 27, 2012  –  by Chris  –  tagged :hover, background, basic, color, css, links, pseudo-classes	
CSS Pseudo Class Tutorial	

Using a CSS Pseudo-Class is one way to gain added control over conditional styling in your projects, perfect for links and other interactive elements. This insightful video tutorial will help you understand how.

[...]

Watch Video
CSS3 Keyframe Animations – iPhone Wiggle Effect
posted August 24, 2012  –  by Chris  –  tagged @-webkit-keyframes, advanced, css, css transforms, css3, CSS3 Animations, rotate, webkit animation	
CSS3 Keyframe Animation Tutorial	

We are all familiar with the iPhone wiggle effect that happens when you hold your finger on an icon for a second, and this helpful video tutorial shows you how to do it entirely through CSS.

[...]

Watch Video
More CSS Tutorials
Free Weekly Training

Subscribe to get the best hand-picked CSS videos & tutorials every Tuesday!
No Spam
About cssreset.com

CSSReset.com is a free resource and daily tutorial site made by Joss, creator of MotionCAPTCHA, money.js, Open Exchange Rates and other things.

On the homepage, you'll find the most popular CSS Reset scripts to copy/paste, with documentation for each. Check out the daily tutorials, and make sure to grab the free weekly training!
Latest CSS Tutorials

    CSS Automatic Numbering Tutorial Counter For HTML Elements
    Using CSS Pseudo-Classes to Style Your Links
    CSS3 Keyframe Animations - iPhone Wiggle Effect
    Creating Four Very Cool Text Effects Using the CSS Text Shadow Property
    Creating Sleek, Semantic, Sliding Buttons with CSS3!

Reset CSS Scripts

    Eric Meyer’s “Reset CSS” 2.0
    HTML5 Doctor CSS Reset
    Tripoli CSS Reset
    ‘undohtml.css’ – Tantek Celik
    Universal Selector ‘*’ Reset
    Vanilla CSS Un-Reset
    Yahoo! (YUI 3) Reset CSS

Popular Topics

    css(34)
    intermediate(18)
    basic(18)
    css3(16)
    :hover(14)
    advanced(12)
    layout(10)
    position(10)
    CSS functions(9)
    color(9)

Facebook Community
Google Plus

All words, images and code copyright © 2010 - 2012 cssreset.com. All rights reserved.
About • Contact • Terms & Conditions • Privacy
RSS / Email / Twitter:   RSS Email Twitter
Eric Meyer’s “Reset CSS” 2.0 ×*/

    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 100%;
	    font: inherit;
	    vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }

    body {
    	line-height: 1;
    }

    ol, ul {
   		list-style: none;
    }

    blockquote, q {
    	quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
	    content: '';
	    content: none;
    }
    
    table {
	    border-collapse: collapse;
	    border-spacing: 0;
    }
/*
Documentation Click to Copy:   Minified (820 B) Full (1.12 KB)

NB: 1-click-copy requires Flash. If it's not working, click the code above and copy it manually!
*/