/************************************
*									*
*	feuille de style du rouleau		*
*									*
************************************/

	.rouleau-fenetre{
		background: #E1E1E1;
		height: auto;
		min-width: 300px;
		border-radius: 5px;
		border: 1px solid #C8C8C8;
	}

	.rouleau-fenetre-titre{
		text-align:center;
		padding: 8px 0;
		border-radius: 3px 3px 0 0;
		background-color: #C8C8C8; 
		box-shadow: inset 0px -4px 20px #3D3D3D;
	}

	.rouleau-fenetre-titre span{
		text-shadow: 0px 1px 0px #fff;
		color: #383838;
		font-size: 1em;
		font-weight: bold;
	}

	.rouleau-fenetre-section{
		padding: 10px;
		background-color: #fff;
		box-shadow: inset 0px 2px 2px #000000;
	}

	.rouleau-fenetre-section div{ text-align: center; display: inline-block;}
	.rouleau-fenetre-section li {display: inline-block;}


/*================ POPUP =================*/

	.popup_block{
		display: none;
		z-index: 12;
	}