/************************************
*									*
*	feuille de style du rouleau		*
*									*
************************************/

	.rouleau-fenetre{
		background: #E1E1E1;
		height: auto;
		min-width: 300px;
		border-radius: 3px;
		box-shadow: 0px 0px 5px 1px #000;
	}

	.rouleau-fenetre-titre{
		overflow: auto;
		margin: 4px;
		padding: 5px;
		border: 1px dashed #B4B4B4;
	}

	.rouleau-fenetre-titre span{
		color: #383838;
		font-size: 1.3em;
		font-weight: bold;
	}

	.rouleau-fenetre-section{
		position: relative;
		padding: 10px;
		overflow: auto;
		min-height: 100px;
		height: auto;
		background-color: #272822;
		box-shadow: inset 0px 2px 2px #000000;
	}

	.rouleau-fenetre-section div{ text-align: center; display: inline-block;}


/*================ POPUP =================*/

	.popup_block{
		display: none; /*--masqué par défaut--*/
		/*float: left;*/
		z-index: 12;
	}