/*******************************
*           strategie          *
*******************************/
	body,html{ margin: 0; padding: 0;}
	.test{ border:1px solid black;}
	.titre{color: #fff; font-size: 1.450em;}
	.formTitre{color: #000; font-size: 1.450em; text-align: center; padding: 10px;}
	.mapage{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.min-width{min-width: 393px}
	.gris{color: #808080;}
	.center{text-align: center;}
/* partie gauche */
	.gauche{ width: 50%; float: left;}
	.gauchefils{margin: 20px;}

/*entete strategie*/
	.strategie{
		position: relative;
	}

	.strat-pos{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin:0 auto;
		height: 80px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
	}

	.strategie1{
		background-color: #83C8FF; 
		opacity: .8;
		box-shadow:
		10px 10px 10px 0px rgba(0, 0, 0, 0.5),
		-10px -10px 10px 0px rgba(0, 0, 0, 0.5) inset,
		10px 10px 10px 0px rgba(255, 255, 255, 0.5) inset; 
	}
	.strategie2{
		position: relative;
	}

	.strategiefils{
		padding: 10px;
	}

/*menu*/
	.menu a
	{
	        display : block;
	        padding : 0;
	        text-decoration : none;
	}

	.menu li
	{ 
	        float : left; 
	       
	        border-right : 1px solid #fff;
	}

	/* IE ne reconnaissant pas le sélecteur ">" */
	html>body .menu li
	{
	        border-right: 1px solid transparent ;
	}

	.menu li ul
	{ 
	        position: absolute;
	        width: 144px;
	        left: -999em;
	}


	.menu li ul li
	{
	       
	        border-top : 1px solid #fff;
	}

	/* IE ne reconnaissant pas le sélecteur ">" */
	html>body .menu li ul li                
	{
	        border-top : 1px solid transparent;
	}

	.menu li ul ul 
	{
	        margin    : -22px 0 0 144px ;
	       
	        border-left     : 1px solid #fff ;
	}

	/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
	html>body .menu li ul ul                
	{
	        border-left     : 1px solid transparent ;
	}

	.menu li:hover ul ul, .menu li.sfhover ul ul
	{
	        left: -999em;
	}

	.menu li:hover ul, .menu li li:hover ul, .menu li.sfhover ul, .menu li li.sfhover ul 
	{
	        left: auto;
	        min-height: 0;
	}

/*formulaire nouveau vol*/
	.newVol{
		position: relative;
		margin: 0 25px;
	}

	.NV-pos{
		width:99%;
		position: absolute;
		top: 0;
		left: 0;
		margin:0 auto;
		min-height: 420px;
	}

	.newVol1{
		background-color: #fff;
		opacity: .7;
		box-shadow:
		10px 10px 10px 0px rgba(0, 0, 0, 0.5),
		0px 5px 5px 0px rgba(0, 0, 0, 0.5) inset; 
	}
	.newVol2{
	}

	.newVolfils{ margin: 20px; }

	fieldset{ border-radius: 10px; -webkit-border-radius: 20px; border: 1px solid #808080;}
	label{color: #808080; cursor: pointer;}
	legend{ color: #808080; margin: 0 5px;}

	.formSelect{ width: 120px; margin-right: 0;}
	.formText{width: 20px}

	.depart, .arrivee, .validation{ padding: 10px;}
	.validation{overflow: auto;}
	.cellule{float:left; margin: 3px;}
	table, td, th{border:1px solid black;}
	.liste-vol th{background: #83C8FF;color: #fff;font-weight: bold; padding: 5px; font-size: 0.850em;}

/*parti droite*/
	.droite{ position: absolute; width: 300px;left:600px; top:-100px;}
	.droitefils{margin: 20px;}

/*pop-up ajouter pays*/
	#popup_ajouter_pays{position: absolute; left: 900px; top: 18px;border: 1px solid black;} 

/*bouton ajouter pays*/
	.ajouter_pays{position: absolute; left:155px; top:77px;}

/*pop-up ajouter ville*/
	#popup_ajouter_ville{position: absolute; left: 900px; top: 58px;border: 1px solid black;} 

/*bouton ajouter ville*/
	.ajouter_ville{position: absolute; left:155px; top:119px;}

/*pop-up ajouter aeroport*/
	#popup_ajouter_aeroport{position: absolute; left: 900px; top: 98px;border: 1px solid black;} 

/*bouton ajouter aeroport*/
	.ajouter_aeroport{position: absolute; left:125px; top:150px;}

